section#contact {
  color: @black;
  position: relative;
  text-align: center;
  
  p {
    font-size: 1em;
  }
  
  div.thumbnail {
    border: none;
  }

  footer.navbar-default {
    position: absolute;
    bottom: 0;
    left: 0;
    background: @orange;
    color: white;
    width: 100%;
    padding: .5em 0;
  }

  footer.navbar-default p {
    margin:0;
  }
}