section#contact {
  color: @black;
  position: relative;
  text-align: center;
  padding-top: 50px;

  p {
    font-size: 1em;
  }

  img.thumbnail {
    max-width: 60%;
    margin: auto;
  }

  footer.navbar-default {
    position: absolute;
    bottom: 0;
    left: 0;
    background: @orange;
    color: white;
    width: 100%;
    padding: .5em 0;
  }

  footer.navbar-default p {
    margin:0;
  }
}
