/* color vars from 
 * http://www.thedayscolor.com/wallpapers/052614_op1.jpg
 */

@orange: #ee6926;
@blue: #5cb6f2;
@green: #68d675;
@black: #121013;
@white: #faf8fb;
@grey: #c7cbd4;
@greyLight: #ccd0d9;
@red: #DD0000;

html {
  height: 100%;
}

body {
  font-family: 'Lato',sans-serif;
  min-height: 100%;
  height: 100%;
  padding-top: 50px;
}

section {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.container-fluid {
  text-align: center;
}

div.row {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1 {
  font-size: 4em;
  font-weight: 600;
  margin: 1em 0;
  margin-top: 0;
}

p {
  font-size: 1.2em;
}

.red {
  color: @red;
}

.black {
  color: @black;
}

.little {
  font-size: 0.8em;
}

a.btn {
  margin-top: 2em;
}

.btn-success {
  background: @green;
  border-color: transparent;
  color: @white;

  &:hover {
    background: darken(@green, 25%);
  }
}

i.fa {
  text-align: center;
  font-size: 5em;
}


