/* color vars from 
 * http://www.thedayscolor.com/wallpapers/052614_op1.jpg
 */

@orange: #ee6926;
@blue: #5cb6f2;
@green: #68d675;
@black: #121013;
@white: #faf8fb;
@grey: #c7cbd4;
@greyLight: #ccd0d9;

body {
  font-family: 'Lato',sans-serif;
}

.container {
  padding: 0px;
}

h1 {
  font-size: 5em;
}

section.page {
  padding: none;
  overflow-y:auto;
  height:100vh;
  min-height: 160px;
}
