.container {
  font-family: 'Lato',sans-serif;
  padding: 0px;
}

nav.navbar {
  background-color: #c7cbd4;
}

ul.nav > li > a {
  color: #121013
}

a.navbar-brand {
  color: #121013
}

section.page {
  padding: none;
  overflow-y:auto;
  height:100vh;
  min-height: 160px;
}

section.intro {
  background: white;
  padding: 0px 30px;
  text-align: center;
}

section.intro h1 {
  text-transform: uppercase;
  font-size: 5em;
  font-weight: 800;
  color: #ee6926;
  margin: 75px 0;
}

section.intro h2 {
  font-size: 1.7em;
  margin: 2em 0;
}

section.intro .btn-success {
  background: #ee6926;
  border-color: #ee6926;
  color: white;
}


section.contact {
  background: #CCD0D9;
  color: #121013;
  padding: 0px;
}

section.running {
  background: #C7CBD4;
  color: #121013;
}


section.running p {
  font-size: 1.3em;
}
