.container {
  font-family: 'Lato',sans-serif;
  padding: 0px;
}

section.page {
  overflow-y:auto;
  height:100vh;
  min-height: 160px;
}

section.intro {
  background: black;
  color: white;
}

section.intro h1, section.intro h2 {
  padding-left: 30px;
}

section.intro h1 {
  text-transform: uppercase;
  font-size: 5em;
}

section.running p {
  font-size: 1.3em;
}