nav.navbar {
  background-color: white;
  margin: 0 auto;

  ul.nav li {
    i.fa-home {
      margin-right: 0.5em;
    }
    &.active {
      &.personas {
        background: @blue;

        a {
          color: @white;
        }
      }
      &.offer, &.contact {
        background: @white;
      }
      &.running {
        background: @orange;

        a {
          color: @white;
        }
      }
    }

    a {
      color: #121013;
    }
  }
}

