section.personas {
  background: #5cb6f2;
  padding: 0px 30px;
  color: white;

  h1, h2, p {
    margin: 1em 0;
  }

  h2, p {
    text-align: center;
  }

  p {
    font-size: 1.2em;
  }

  i.fa {
    text-align: center;
    font-size: 5em;
  }
}
