section#personas {
  background: @blue;
  color: @white;
  padding-top: 50px;

  h1 {
    margin-bottom: 1em;
  }

  h3 {
    margin-top: 2.5em;
    em {
      margin-left: 0.3em;
    }
  }

  i.fa {
    font-size: 5em;
  }

  p.all {
    margin: 4em 0 0 0;
    font-weight: 600;
    line-height: 2;
  }

}
