section#personas {
  background: @blue;
  color: @white;
  padding-top: 50px;

  h3 {
    margin-top: 2.5em;
    em {
      margin-left: 0.3em;
    }
  }

  i.fa {
    font-size: 5em;
  }

  p.all {
    margin-top: 2em;
  }

}
