section#subscribe {
  background: white;
  padding: 0px 30px;
  text-align: center;
}

section#subscribe h1 {
  text-transform: uppercase;
  font-size: 5em;
  font-weight: 800;
  color: @orange;
  margin: 75px 0;
}

section#subscribe h2 {
  font-size: 1.7em;
  margin: 2em 0;
}

section#subscribe .btn-success {
  background: @green;
  border-color: @green;
  color: @white;
}


